/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
*~
/src/jsPowerAdmin/WebBundle/Resources/public/js/ext-4.2.0-gpl.zip
/src/jsPowerAdmin/WebBundle/Resources/public/js/ext-4.2.0.663/
/src/jsPowerAdmin/WebBundle/Resources/public/js/extjs
